<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="PLUGINDEV"
            id="com.plugindev.addressbook">
      </category>
      <view
            id="com.plugindev.addressbook.views.AddressView"
            name="地址本视图"
            icon="icons/sample.png"
            class="com.plugindev.addressbook.views.AddressView"
            category="com.plugindev.addressbook"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.plugindev.addressbook.views.AddressView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.plugindev.addressbook.actions.actionSet"
            label="地址本操作"
            visible="true">
         <menu
               id="com.plugindev.addressbook.menu.Menu"
               label="地址本"
               path="additions">
            <separator
                  name="content">
            </separator>
         </menu>
         <action
               class="com.plugindev.addressbook.actions.OpenAddressViewAction"
               icon="icons/sample.png"
               id="com.plugindev.addressbook.actions.OpenAddressViewAction"
               label="打开视图"
               menubarPath="com.plugindev.addressbook.menu.Menu/content"
               toolbarPath="Normal/addition"
               tooltip="在当前透视图中打开地址本视图">
         </action>
      </actionSet>
   </extension>

</plugin>
