<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="PLUGINDEV"
            id="com.plugindev.addressbook">
      </category>
      <view
            id="com.plugindev.addressbook.views.AddressView"
            name="地址本视图"
            icon="icons/sample.gif"
            class="com.plugindev.addressbook.views.AddressView"
            category="com.plugindev.addressbook"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.plugindev.addressbook.views.AddressView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.plugindev.addressbook.actions.actionSet"
            label="地址本操作"
            visible="true">
         <menu
               id="com.plugindev.addressbook.menu.Menu"
               label="地址本"
               path="additions">
            <separator
                  name="content">
            </separator>
         </menu>
         <action
               class="com.plugindev.addressbook.actions.OpenAddressViewAction"
               definitionId="com.plugindev.addressbook.commands.openAddressView"
               icon="icons/sample.png"
               id="com.plugindev.addressbook.actions.OpenAddressViewAction"
               label="打开视图"
               menubarPath="com.plugindev.addressbook.menu.Menu/content"
               toolbarPath="Normal/addition"
               tooltip="在当前透视图中打开地址本视图">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.plugindev.addressbook.example.objectContribution1"
            nameFilter="Three"
            objectClass="java.lang.String">
         <menu
               id="com.plugindev.addressbook.menu.popupMenus"
               label="示例上下文菜单"
               path="additions">
            <separator
                  name="example">
            </separator>
         </menu>
         <action
               class="com.plugindev.addressbook.actions.ObjAction"
               enablesFor="1"
               id="com.plugindev.addressbook.actions.objAction"
               label="对象示例操作"
               menubarPath="com.plugindev.addressbook.menu.popupMenus/additions"
               tooltip="举例说明如何添加对象操作">
         </action>
      </objectContribution>
      <viewerContribution
            id="com.plugindev.addressbook.example.viewerContribution1"
            targetID="com.plugindev.addressbook.views.AddressView">
         <menu
               id="com.plugindev.addressbook.viewToolbarMenu"
               label="示例工具栏菜单"
               path="additions">
            <separator
                  name="example">
            </separator>
         </menu>
         <action
               class="com.plugindev.addressbook.actions.ViewerAction"
               enablesFor="+"
               id="com.plugindev.addressbook.actions.viewerAction"
               label="查看器示列操作"
               menubarPath="com.plugindev.addressbook.viewToolbarMenu/additions"
               tooltip="举例说明如何添加查看器操作">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.plugindev.addressbook.example.editorAction"
            targetID="#TextEditorContext">
         <menu
               id="com.plugindev.addressbook.example.defaultEditorMenu"
               label="示例编辑器菜单"
               path="additions">
            <separator
                  name="example">
            </separator>
         </menu>
         <action
               class="com.plugindev.addressbook.actions.EditorExampleAction"
               icon="icons/sample.png"
               id="com.plugindev.addressbook.actions.EditorExampleAction"
               label="编辑器操作"
               menubarPath="com.plugindev.addressbook.example.defaultEditorMenu/example"
               tooltip="举例说明如何添加编辑器操作">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.plugindev.addressbook.viewContribution1"
            targetID="com.plugindev.addressbook.views.AddressView">
         <action
               class="com.plugindev.addressbook.actions.ViewAction"
               icon="icons/sample.png"
               id="com.plugindev.addressbook.viewAction"
               label="视图操作"
               menubarPath="com.plugindev.addressbook.menu.pulldownMenu/example"
               style="push"
               toolbarPath="additions"
               tooltip="举例说明如何添加视图操作">
         </action>
         <menu
               id="com.plugindev.addressbook.menu.pulldownMenu"
               label="下拉菜单示列"
               path="additions">
            <separator
                  name="example">
            </separator>
         </menu>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.plugindev.addressbook.example.editorActionTest"
            targetID="org.eclipse.ui.DefaultTextEditor">
         <menu
               id="com.plugindev.addressbook.menu.defaultEditorMenu"
               label="顶层编辑器菜单"
               path="additions">
            <separator
                  name="example">
            </separator>
         </menu>
         <action
               class="com.plugindev.addressbook.actions.TopEditorAction"
               id="com.plugindev.addressbook.actions.topEditorAction"
               label="顶层编辑器操作"
               menubarPath="com.plugindev.addressbook.menu.defaultEditorMenu/example"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="地址本插件添加的命令"
            id="com.plugindev.addressbook.category"
            name="地址本">
      </category>
      <command
            categoryId="com.plugindev.addressbook.category"
            description="打开地址本视图"
            id="com.plugindev.addressbook.commands.openAddressView"
            name="打开地址本">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.plugindev.addressbook.commands.openAddressView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+V">
      </key>
   </extension>

</plugin>
