<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.test.myperspective.FirstPer"
            icon="icons/gl.jpg"
            id="com.test.myperspective.firstper"
            name="FirstPer">
      </perspective>
   </extension>

</plugin>
